<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="submit" value="INSERT NEW DATA" onclick="document.querySelector('#form0').style.display = (document.querySelector('#form0').style.display=='none') ? 'block':'none' ">
    <form style="display:none;" id='form0' method="POST" action="http://127.0.0.1:5000/api/register">
        <h1>INSERIR UM NOVO DADO</h1>
        <input type="text" name="nome" placeholder="Insira nome" required>
        <input type="text" name='email' placeholder="Insira email" required>
        <button>Register</button>
    </form>
    {%if itemsDB%}
        {%for item in itemsDB%}
            <p>ID:{{item.id}} - NOME:{{item.nome}} - EMAIL:{{item.email}}</p>
            <input type="submit" value="EDITAR" onclick="document.querySelectorAll('form#form')[{{loop.index0}}].style.display = (document.querySelectorAll('form#form')[{{loop.index0}}].style.display=='none') ? 'block':'none' ">
            <input value="DELETE" type="submit" onclick="fetch('http://127.0.0.1:5000/del/{{item.id}}');setTimeout(function(){window.location.reload()}, 1000)">
            <form id="form" style="display: none;" action="http://127.0.0.1:5000/put/{{item.id}}" method="post" enctype="multipart/form-data">
                <input type="text" name="nome" value="{{item.nome}}">
                <input type="text" name="email" value="{{item.email}}">
                <button>Atualizar</button>
            </form>
            <br>
        {%endfor%}
    {%endif%}
</body>
</html>